Supervised Learning Model

In [65]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn import metrics 
import numpy as np

In [66]:
pokemon = pd.read_csv("../Data/300k.csv", low_memory=False)
pokemon

,pokemonId,latitude,longitude,appearedLocalTime,_id,cellId_90m,cellId_180m,cellId_370m,cellId_730m,cellId_1460m,...,cooc_143,cooc_144,cooc_145,cooc_146,cooc_147,cooc_148,cooc_149,cooc_150,cooc_151,class
0,16,20.525745,-97.460829,2016-09-08T03:57:45,NTgxMDkzOTk4MTM5MjUwMjIzNw==,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,...,False,False,False,False,False,False,False,False,False,16
1,133,20.523695,-97.461167,2016-09-08T03:57:37,OTQ1NDgzODc1MjM3NDEzMTI2MQ==,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,...,False,False,False,False,False,False,False,False,False,133
2,16,38.903590,-77.199780,2016-09-08T03:57:25,NTQ0OTQ0NDA1Nzg2ODg3OTg2OQ==,9.923200e+18,9.923200e+18,9.923200e+18,9.923200e+18,9.923200e+18,...,False,False,False,False,False,False,False,False,False,16
3,13,47.665903,-122.312561,2016-09-08T03:56:22,NTU2MTU1NDM4NzA2MDk1MDcxNw==,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,...,False,False,False,False,False,False,False,False,False,13
4,133,47.666454,-122.311628,2016-09-08T03:56:08,MTY2ODg4MTAzMTczMDE0MTUwNTM=,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,...,False,False,False,False,False,False,False,False,False,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296016,19,39.119052,-76.633194,2016-09-02T21:50:11,MzM1MzA0NjEyNTIxNTQ1OTY5Mw==,9.923680e+18,9.923680e+18,9.923680e+18,9.923680e+18,9.923680e+18,...,False,False,False,False,False,False,False,False,False,19
296017,13,47.142237,7.244752,2016-09-02T21:50:08,NjA0NDc3OTcxMzk2NjM5MzgyMQ==,5.156090e+18,5.156090e+18,5.156090e+18,5.156090e+18,5.156090e+18,...,False,False,False,False,False,False,False,False,False,13
296018,16,42.258532,-87.881248,2016-09-02T21:50:07,OTIzODI4ODYyOTUyMjI4NzI0NQ==,9.804220e+18,9.804220e+18,9.804220e+18,9.804220e+18,9.804220e+18,...,False,False,False,False,False,False,False,False,False,16
296019,19,26.230929,-98.194772,2016-09-02T21:50:07,MTcwMjEwNDQ3Mjk1MjIwOTM5NDk=,9.684320e+18,9.684320e+18,9.684320e+18,9.684320e+18,9.684320e+18,...,False,False,False,False,False,False,False,False,False,19
296020,96,50.144272,14.101178,2016-09-02T21:50:06,MTMzNzM3NzQ1MTM4MTcwMTE0Njk=,5.119390e+18,5.119390e+18,5.119390e+18,5.119390e+18,5.119390e+18,...,False,False,False,False,False,False,False,False,False,96

Data Wrangling

In [67]:
#Recode city
def city (series):
    if series == "Adelaide":
        return 0
    if series == "Amman":
        return 1 
    if series == "Amsterdam":
        return 2 
    if series == "Athens":
        return 3
    if series == "Auckland":
        return 4 
    if series == "Bahai":
        return 5 
    if series == "Bangkok":
        return 6
    if series == "Belem":
        return 7
    if series == "Berlin":
        return 8
    if series == "Bogota":
        return 9 
    if series == "Boise":
        return 10
    if series == "Bratislava":
        return 11 
    if series == "Bribane":
        return 12 
    if series == "Brunie":
        return 13
    if series == "Bussels":
        return 14
    if series == "Bucharest":
        return 15
    if series == "Buenos_Aires":
        return 16
    if series == "Cairo":
        return 17 
    if series == "Casablanca":
        return 18
    if series == "Chicago":
        return 19
    if series == "Copenhagen":
        return 20
    if series == "Cordoba":
        return 21
    if series == "Costa_Rica":
        return 22 
    if series == "Damascus":
        return 23
    if series == "Denver":
        return 24 
    if series == "Detroit":
        return 25 
    if series == "Dubia":
        return 26
    if series == "Dublin":
        return 27 
    if series == "Edmonton":
        return 28
    if series == "Fortaleza":
        return 29 
    if series == "Guam":
        return 30 
    if series == "Guayaquil":
        return 31
    if series == "Guyana":
        return 32
    if series == "Halifax":
        return 33 
    if series == "Helsinki":
        return 34 
    if series == "Ho_Chi_Minh":
        return 35
    if series == "Hobart":
        return 36
    if series == "Hong_Kong":
        return 37
    if series == "Honolulu":
        return 38
    if series == "Indianapolis":
        return 39
    if series == "Isle_of_Man":
        return 40
    if series == "Istanbul":
        return 41
    if series == "Jakarta":
        return 42
    if series == "Jerusalem":
        return 43
    if series == "Karachi":
        return 44
    if series == "Kiev":
        return 45 
    if series == "Kolkata":
        return 46
    if series == "Kuala_Lumpur":
        return 47
    if series == "Kuching":
        return 48
    if series == "Lisbon":
        return 49
    if series == "Ljubljana":
        return 50
    if series == "London":
        return 51
    if series == "Los_Angeles":
        return 52
    if series == "Louisville":
        return 53
    if series == "Luanda":
        return 54
    if series == "Luxembourg":
        return 56
    if series == "Madrid":
        return 57
    if series == "Manila":
        return 58
    if series == "Melbourne":
        return 59
    if series == "Monrovia":
        return 60
    if series == "Mexico_City":
        return 61
    if series == "Monterrey":
        return 62
    if series == "Montreal":
        return 63
    if series == "Moscow":
        return 64
    if series == "New_York":
        return 65
    if series == "Olso":
        return 66
    if series == "Nicosia":
        return 67
    if series == "Narobi":
        return 68
    if series == "Noumea":
        return 69
    if series == "Paris":
        return 70
    if series == "Perth":
        return 71
    if series == "Phnom_Penh":
        return 72
    if series == "Phoenix":
        return 73
    if series == "Prague":
        return 74
    if series == "Puerto_Rico":
        return 75
    if series == "Regina":
        return 76
    if series == "Reykjavik":
        return 77
    if series == "Rome":
        return 78
    if series == "Santiago":
        return 79
    if series == "Sao_Paulo":
        return 80
    if series == "Sarajevo":
        return 81
    if series == "Singapore":
        return 82
    if series == "Stockholm":
        return 83 
    if series == "Sydney":
        return 84
    if series == "Tahiti":
        return 85
    if series == "Taipei":
        return 86
    if series == "Tokyo":
        return 87
    if series == "Toronto":
        return 88
    if series == "Tripoli":
        return 89
    if series == "Tunis":
        return 90
    if series == "Vancouver":
        return 91
    if series == "Vienna":
        return 92
    if series == "Vilnius":
        return 93
    if series == "Warsaw":
        return 94
    if series == "Winnipeg":
        return 95
    if series == "Zagreb":
        return 96
    if series == "Zurich":
        return 97

In [68]:
pokemon['cityR'] = pokemon['city'].apply(city)
pokemon

,pokemonId,latitude,longitude,appearedLocalTime,_id,cellId_90m,cellId_180m,cellId_370m,cellId_730m,cellId_1460m,...,cooc_144,cooc_145,cooc_146,cooc_147,cooc_148,cooc_149,cooc_150,cooc_151,class,cityR
0,16,20.525745,-97.460829,2016-09-08T03:57:45,NTgxMDkzOTk4MTM5MjUwMjIzNw==,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,...,False,False,False,False,False,False,False,False,16,61.0
1,133,20.523695,-97.461167,2016-09-08T03:57:37,OTQ1NDgzODc1MjM3NDEzMTI2MQ==,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,...,False,False,False,False,False,False,False,False,133,61.0
2,16,38.903590,-77.199780,2016-09-08T03:57:25,NTQ0OTQ0NDA1Nzg2ODg3OTg2OQ==,9.923200e+18,9.923200e+18,9.923200e+18,9.923200e+18,9.923200e+18,...,False,False,False,False,False,False,False,False,16,65.0
3,13,47.665903,-122.312561,2016-09-08T03:56:22,NTU2MTU1NDM4NzA2MDk1MDcxNw==,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,...,False,False,False,False,False,False,False,False,13,52.0
4,133,47.666454,-122.311628,2016-09-08T03:56:08,MTY2ODg4MTAzMTczMDE0MTUwNTM=,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,6.093390e+18,...,False,False,False,False,False,False,False,False,133,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296016,19,39.119052,-76.633194,2016-09-02T21:50:11,MzM1MzA0NjEyNTIxNTQ1OTY5Mw==,9.923680e+18,9.923680e+18,9.923680e+18,9.923680e+18,9.923680e+18,...,False,False,False,False,False,False,False,False,19,65.0
296017,13,47.142237,7.244752,2016-09-02T21:50:08,NjA0NDc3OTcxMzk2NjM5MzgyMQ==,5.156090e+18,5.156090e+18,5.156090e+18,5.156090e+18,5.156090e+18,...,False,False,False,False,False,False,False,False,13,97.0
296018,16,42.258532,-87.881248,2016-09-02T21:50:07,OTIzODI4ODYyOTUyMjI4NzI0NQ==,9.804220e+18,9.804220e+18,9.804220e+18,9.804220e+18,9.804220e+18,...,False,False,False,False,False,False,False,False,16,19.0
296019,19,26.230929,-98.194772,2016-09-02T21:50:07,MTcwMjEwNDQ3Mjk1MjIwOTM5NDk=,9.684320e+18,9.684320e+18,9.684320e+18,9.684320e+18,9.684320e+18,...,False,False,False,False,False,False,False,False,19,19.0
296020,96,50.144272,14.101178,2016-09-02T21:50:06,MTMzNzM3NzQ1MTM4MTcwMTE0Njk=,5.119390e+18,5.119390e+18,5.119390e+18,5.119390e+18,5.119390e+18,...,False,False,False,False,False,False,False,False,96,74.0

In [69]:
pokemon.dropna(inplace=True)

In [70]:
pokemonTrimmed = pokemon.drop(['appearedLocalTime', '_id', 'appearedTimeOfDay', 'appearedDayOfWeek', 'closeToWater',
                          'continent', 'weather', 'temperature', 'windSpeed', 'windBearing', 'pressure', 'weatherIcon',
                          'urban', 'suburban', 'midurban', 'rural', 'gymIn100m', 'gymIn250m', 'gymIn500m', 'gymIn1000m',
                          'gymIn2500m', 'gymIn5000m', 'pokestopIn100m', 'pokestopIn250m', 'pokestopIn500m', 'pokestopIn1000m',
                          'pokestopIn2500m', 'pokestopIn5000m', 'pokemonId', 'sunriseMinutesMidnight', 'sunriseHour', 'sunriseMinutesSince', 
                            'sunsetHour', 'sunsetMinutesBefore', 'population_density', 'pokestopDistanceKm', 'pokestopIn100m', 'pokestopIn250m',
                            'pokestopIn500m', 'pokestopIn1000m', 'pokestopIn2500m', 'pokestopIn5000m', 'cooc_1', 'cooc_2', 'cooc_3', 'cooc_4', 
                            'cooc_5', 'cooc_6', 'cooc_7', 'cooc_8', 'cooc_9', 'cooc_10', 'cooc_11', 'cooc_12', 'cooc_13', 'cooc_14', 'cooc_15', 
                            'cooc_16', 'cooc_17', 'cooc_18', 'cooc_19', 'cooc_20', 'cooc_21', 'cooc_22', 'cooc_23', 'cooc_24', 'cooc_25', 'cooc_26',
                             'cooc_27', 'cooc_28', 'cooc_29', 'cooc_30', 'cooc_31', 'cooc_32', 'cooc_33', 'cooc_34', 'cooc_35', 'cooc_36',
                              'cooc_37', 'cooc_38', 'cooc_39', 'cooc_40', 'cooc_41', 'cooc_42', 'cooc_43', 'cooc_44', 'cooc_45', 'cooc_46',
                              'cooc_47', 'cooc_48', 'cooc_49', 'cooc_50', 'cooc_51', 'cooc_52', 'cooc_53', 'cooc_54', 'cooc_55', 'cooc_56', 'cooc_57',
                              'cooc_58', 'cooc_59', 'cooc_60', 'cooc_61', 'cooc_62', 'cooc_63', 'cooc_64', 'cooc_65', 'cooc_66', 'cooc_67', 'cooc_68',
                              'cooc_69', 'cooc_70', 'cooc_71', 'cooc_72', 'cooc_73', 'cooc_74', 'cooc_75', 'cooc_76', 'cooc_77',
                              'cooc_78', 'cooc_79', 'cooc_80', 'cooc_81', 'cooc_82', 'cooc_83', 'cooc_84', 'cooc_85', 'cooc_86', 'cooc_87', 'cooc_88',
                              'cooc_89', 'cooc_90', 'cooc_91', 'cooc_92', 'cooc_93', 'cooc_94', 'cooc_95', 'cooc_96', 'cooc_97', 'cooc_98',
                              'cooc_99', 'cooc_100', 'cooc_101', 'cooc_102', 'cooc_103', 'cooc_104', 'cooc_105', 'cooc_106', 'cooc_107', 'cooc_108',
                              'cooc_109', 'cooc_110', 'cooc_111', 'cooc_112', 'cooc_113', 'cooc_114', 'cooc_115', 'cooc_116', 'cooc_117', 'cooc_118',
                              'cooc_119', 'cooc_120', 'cooc_121', 'cooc_122', 'cooc_123', 'cooc_124', 'cooc_125', 'cooc_126', 'cooc_127', 'cooc_128',
                              'cooc_129', 'cooc_130', 'cooc_131', 'cooc_132', 'cooc_133', 'cooc_134', 'cooc_135', 'cooc_136', 'cooc_137', 'cooc_138',
                              'cooc_139', 'cooc_140', 'cooc_141', 'cooc_142', 'cooc_143', 'cooc_144', 'cooc_145', 'cooc_146', 'cooc_147', 'cooc_148',
                              'cooc_149', 'cooc_150', 'cooc_151', 'city', 'gymDistanceKm', 'sunsetMinute', 'sunsetMinutesMidnight', 'sunriseMinute', 
                            'cellId_90m', 'cellId_180m', 'cellId_370m', 'cellId_730m', 'cellId_1460m',
             'cellId_2920m', 'cellId_5850m', 'appearedHour', 'appearedMinute', 'appearedDay', 'appearedMonth', 'appearedYear'], axis=1)

In [71]:
#Change floats to integers 
pokemonTrimmed.dtypes

latitude       float64
longitude      float64
terrainType      int64
class            int64
cityR          float64
dtype: object

In [72]:
pokemonTrimmed.latitude = pokemon.latitude.astype(int)
pokemonTrimmed.longitude = pokemon.longitude.astype(int)
pokemonTrimmed.cityR = pokemon.cityR.astype(int)

In [73]:
pokemonTrimmed.dtypes

latitude       int32
longitude      int32
terrainType    int64
class          int64
cityR          int32
dtype: object

In [74]:
x = pokemonTrimmed[[ 'latitude', 'longitude', 'class', 'terrainType']]
y = pokemonTrimmed['cityR']

In [75]:
pokemonTrimmed['cityR'].isna().sum()

0

In [76]:
pokemonTrimmed.isna().sum().sum()

0

In [77]:
pokemonTrimmed.describe()

,latitude,longitude,terrainType,class,cityR
count,287960.000000,287960.000000,287960.000000,287960.000000,287960.000000
mean,38.116468,-37.542183,10.715016,45.180549,57.494044
std,16.470346,66.443322,3.974825,39.580159,23.150860
min,-42.000000,-159.000000,0.000000,1.000000,0.000000
25%,33.000000,-90.000000,9.000000,16.000000,51.000000
50%,42.000000,-72.000000,13.000000,21.000000,65.000000
75%,49.000000,12.000000,13.000000,67.000000,74.000000
max,68.000000,175.000000,16.000000,149.000000,97.000000

In [78]:
pokemonTrimmed.values

array([[ 20, -97,  14,  16,  61],
       [ 20, -97,  14, 133,  61],
       [ 38, -77,  13,  16,  65],
       ...,
       [ 42, -87,  13,  16,  19],
       [ 26, -98,  13,  19,  19],
       [ 50,  14,  12,  96,  74]], dtype=int64)

Train Test Split

In [83]:
x_train, x_test, y_test, y_train = train_test_split(x,y, test_size = .4, random_state=76)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(172776, 4) (115184,)
(115184, 4) (172776,)

x_train dataset the 177612 rows and 10 columns, x_test dataset the 118490 rows and 10 columns

In [84]:
pokemon['cityR'].isna().sum()

0

In [85]:
pokemon.isna().sum().sum()

0

Create Linear Regression Model

In [86]:
lm = LinearRegression()
lm.fit(x_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [172776, 115184]